@using Microsoft.AspNetCore.Mvc.Localization;
@inject IViewLocalizer localizer
@model IEnumerable<Proyecto>

@{
    ViewData["Title"] = "Home Page";
}

<section>
    <div class="text ">
        <div class="container-body ">

            <div class="row">
                <div class="col-lg-6 d-flex align-items-center">
                    <img data-aos="fade-down" data-aos-duration="900" src="./img/y.jpg" alt="Imagen"
                        class="img-fluid rounded-pill">
                </div>
                <div class="col-lg-6  mt-3">

                    <h1 data-aos="zoom-in-up" data-aos-duration="900">@localizer["Saludo"] Ulises <span>Martínez</span>
                    </h1>

                    <section class="about">
                        <div class="main">
                            <div class="about-text">

                                <h6 data-aos="zoom-out" data-aos-duration="900"><span>@localizer["Estudiante"]</span>
                                    @localizer["Carrera"]</h6>
                                <p data-aos="zoom-out-right" data-aos-duration="900">@localizer["Presentacion"]</p>
                                <p data-aos="zoom-out-left" data-aos-duration="900">@localizer["Frase"]</p>

                                <div class="contacto" data-aos="zoom-in" data-aos-duration="900">
                                    <form>
                                        <a class="btn btn-primer-contacto" style="margin-right:1.2rem;" target="_blank"
                                            href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top"
                                            title="GitHub">
                                            <i class="bi-github" role="img" aria-label="GitHub"></i> GitHub
                                        </a>

                                        <a class="btn btn-primer-contacto" target="_blank"
                                            href="https://www.linkedin.com/in/ulises-mart%C3%ADnez-olivares-09276b258/"
                                            data-toggle="tooltip" data-placement="top" title="Linkedin">

                                            <i class="bi-linkedin" role="img" aria-label="Linkedin"></i> Linkedin
                                        </a>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </section>

                </div>
            </div>
            
            <h1 data-aos="zoom-out-right" data-aos-duration="900" style="margin-top: 100px">
                <span>@localizer["TituloLetra"]</span>@localizer["TituloPag"]
            </h1>

            <section class="about">
                <div class="main">
                    <div class="about-text">
                        <div class="row">
                            <div class="col-lg-9">

                                <h5 data-aos="zoom-out-left" data-aos-duration="900">
                                    @localizer["Estudiante"]<span> @localizer["Desarrollador"]</span>
                                </h5>
                                <p data-aos="zoom-out-right" data-aos-duration="900">

                                    @localizer["1eraPresentacion"]
                                    <span>@localizer["Proyectos"]</span>.
                                </p>
                            </div>

                            <div class="col-lg-3 d-flex align-items-center">
                                <img data-aos="fade-down" data-aos-duration="900" src="/img/Yo.jpg" alt="Imagen"
                                     class=" img-fluid rounded-pill">
                            </div>
                        </div>


                        <h5 data-aos="zoom-out-right" data-aos-duration="900">
                            {@localizer["habilidad1"]<span>@localizer["habilidad2"]</span>@localizer["habilidad3"]}
                        </h5>

                        <p data-aos="zoom-out-left" data-aos-duration="900">
                            @localizer["tecnologíasFavoritas"]
                        </p>

                        <div class="Service">
                            <img data-aos="flip-right" data-aos-duration="900" src="/img/c.svg"
                                 class="img-fluid Habilidades" alt="Responsive image">
                            <img data-aos="flip-left" data-aos-duration="900" src="/img/NET_Core_Logo.svg.png"
                                 class="img-fluid Habilidades" alt="Responsive image">

                            <img data-aos="flip-left" data-aos-duration="900" src="/img/angular.svg"
                                 class="img-fluid Habilidades" alt="Responsive image">
                                 <img data-aos="flip-left" data-aos-duration="900" src="/img/go.webp"
                                 class="img-fluid Habilidades" alt="Responsive image">
                                 <img data-aos="flip-left" data-aos-duration="900" src="/img/swift-apple.png"
                                 class="img-fluid Habilidades" alt="Responsive image">
                            
                            <img data-aos="flip-right" data-aos-duration="900" src="/img/sql-server.svg"
                                 class="img-fluid Habilidades " alt="Responsive image">
                            <img data-aos="flip-right" data-aos-duration="900"
                                 src="https://www.svgrepo.com/show/303251/mysql-logo.svg" class="img-fluid Habilidades"
                                 alt="Responsive image">
                            <img data-aos="flip-left" data-aos-duration="900"
                                 src="https://cdn.iconscout.com/icon/free/png-256/mongodb-3-1175138.png"
                                 class="img-fluid Habilidades" alt="Responsive image">
                        </div>

                        <h5 data-aos="zoom-out-right" data-aos-duration="900">
                            {@localizer["contacto1"]<span>@localizer["contacto2"]</span>@localizer["contacto3"]}
                        </h5>

                        <p data-aos="zoom-out-left" data-aos-duration="900">
                            @localizer["contactame"]
                        </p>

                        <div class="contacto" data-aos="zoom-in" data-aos-duration="900">
                            <div class="contacto">
                                <form>
                                    <a class="btn" style="margin-right:1.2rem;" target="_blank"
                                       href="https://github.com/Rck23" data-toggle="tooltip" data-placement="top"
                                       title="GitHub">

                                        <i class="bi-github mx-2" role="img" aria-label="GitHub"></i> GitHub
                                    </a>

                                    <a class="btn" target="_blank"
                                       href="https://www.linkedin.com/in/ulises-mart%C3%ADnez-olivares-09276b258/"
                                       data-toggle="tooltip" data-placement="top" title="Linkedin">

                                        <i class="bi-linkedin mx-2" role="img" aria-label="Linkedin"></i> Linkedin
                                    </a>

                                    <a class="btn" target="_blank" href="https://www.instagram.com/ulises_fc/"
                                       data-toggle="tooltip" data-placement="top" title="Instagram">

                                        <i class="bi bi-instagram mx-2" role="img" aria-label="Instagram"></i> Instagram
                                    </a>
                                </form>
                            </div>

                        </div>

                    </div>


                </div>

            </section>
        </div>
                <div style="margin-bottom:100px; margin-top: 100px ">
                    <h1 data-aos="zoom-out-right" data-aos-duration="900">
                        @localizer["TituloPro1"]<span>@localizer["TituloPro2"]</span>@localizer["TituloPro3"]
                    </h1>

                    <partial name="_ListProjects" model="Model" />

                </div>
    </div>

</section>





@section Scripts {
    <script>
        AOS.init();
    </script>
}